@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Reset */
/* Seletor Universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgba(218, 223, 255, 0.71)
}